<h1>Edit meal</h1>

<form action="/meals/<%= @meal.id %>" method="post">
    <input type="hidden" value="patch" name="_method">
    <p>
        <div><label for="name">Name</label></div>
        <input type="text" id="name" name="name" value=<%= @meal.name %>>
    </p>
    <p>
        <div><label for="price">Price</label></div>
        <input type="float" id="price" name="price" value=<%= @meal.price %>>
    </p>
    <p>
        <div><label for="spicyness">Spicyness</label></div>
        <input type="text" id="spicyness" name="spicyness" value=<%= @meal.spicyness %>>
    </p>
    <p>
        <input type="submit" value="Update meal">
    </p>
</form>


