<h1>New Meal</h1>
<form action="/meals" method="POST">
    <p>
        <div><label for="name">Name</label></div>
        <input type="text" name="name">
        <input type="submit" value="Make my new meal!">
    </p>
</form>
