<h1>New Meal</h1>
<form action="/meals" method="POST">
    <p>
        <div><label for="name">Name</label></div>
        <input type="text" id="name" name="name"/>
    </p>
    <p>
        <div><label for="price">Price</label></div>
        <input type="float" id="price" name="price"/>
    </p>
    <p>
        <div><label for="spicyness">Spicyness</label></div>
        <input type="text" id="spicyness" name="spicyness"/>
    </p>
    <p>
        <input type="submit" value="Make my new meal!"/>
    </p>
</form>
